<!DOCTYPE html>
<html lang="en">
<head>
  <title> Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/personalpage.css">
  <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
 
</head>

  


<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 
  
    background-color: black;
    
}

/* Float four columns side by side */




/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 10;
  
}

#navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
img {
    max-width: 100%;
    max-height: 100%;
}


.cs
{
  font-size: 15px; font-family: Times New Roman;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}

</style>
</head>
<body>


<div id="navbar"  >
  <ul>
    <li><a class="navbar-brand " href="/"><img src="/images/logoc.png" width="150" height="200"   ></a></li>
   
    <li><a href="/logout" style="color: white;">Sign out</a></li>

    <%if(user.type == "Sign up as employee member"){%>
    <li><a href="/personal" style="color: white;">Personal Page</a></li>
    <%}else{%>
    <li><a href="/companyPage" style="color: white;">Company Page</a></li>
    <%}%>

    <li style=" padding-top: 15px; padding-left: 15px; width:500px;"><form class="example"  style="margin:auto;max-width:500px;" method = "GET" action = '/jobSearchResults' >
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form></li>

      <%if(LoggedIn){%>
         <%if(user.type == "Sign up as employee member"){%>
      <li style="float: right;"><a class="nav-link " href="/personal"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/upload"><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
      <%}else{%>
       <li style="float: right;"><a class="nav-link " href="/postJob"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <listyle="float: right;"><a href="/companyPage"><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
       <%}%>
          <%}%>
  </ul>
</div>
       
 
  


<div class="row" style="padding-top: 20px; width: 100%; padding-bottom: 20px; ">
<%if(jobs.length > 0){%>
<%jobs.forEach(p=>{%>
<div class="col-md-3" style="padding-bottom: 20px;">
<a href="/job/<%=p._id%>" class="custom-card">

    <div class="card" style="height: 200px;">
      <div style="height:80px;">
        <img src="/<%=p.User.avatar%>" alt="logo" style="width: 70px; float: left;" >
      </div>
      <div>
        <h5><%=p.title%></h5>
        <p style="font-size: 12px;"><%=p.location%></p>
        <p style="font-size: 12px; color: grey;">1 day ago</p>
      </div>
    </div>
  </div>
</a>
<%})%>
<%}%>

</div><div class="md" border = '0'align = "center">
    <% if (pages > 0) { %>
                <ul class="pagination text-center" align = "center"> 
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/getJobs/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/getJobs/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/getJobs/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
           
            </div>
    
  </div>
<div class=" col-md-9 "><p style="float: left; color: grey;font-size: 10px;">@ DemoCourt 2019 </p></div>
</body>
</html>
