<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
  
   <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="css/personalpage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark "  >
  <div class ="row">
    <div class="col-md-4" >
      <a  href="/" ><img src="/images/logo3.png" alt="logo" style="width: 70px;" ></a>
    </div>
    <div class="col-md-8" >
        <form class="example"  style="margin:auto;max-width:400px" action="/jobSearchResults" method = "GET">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
  </div>
</nav>


<div class="row" stype="padding-top: 20px;">
<%if(jobs.length > 0){%>
<%jobs.forEach(p=>{%>
<a href="/job/<%=p._id%>" class="custom-card">
  <div class="column">
    <div class="card">
      <div style="height:80px;">
        <img src="/<%=p.company.avatar%>" alt="logo" style="width: 70px; float: left;" >
      </div>
      <div>
        <h5><%=p.title%></h5>
        <p style="font-size: 12px;"><%=p.location%></p>
        <p style="font-size: 12px; color: grey;">1 day ago</p>
      </div>
    </div>
  </div>
</a>
<%})%>
<%}%>

</div><div class="md" border = '0'align = "center">
    <% if (pages > 0) { %>
                <ul class="pagination text-center" align = "center"> 
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/getJobs/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/getJobs/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/getJobs/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
           
            </div>

  </div>

<div class=" col-md-9 "><p style="float: left; color: grey;font-size: 10px;">@ DemoCourt 2019 </p></div>
</body>
</html>
