<!DOCTYPE html>
<html lang="en">
<head>
  <title> Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/personalpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<style type="text/css">
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  text-align: center;
  background-color: #ffffff;
}
.requirement {
  text-align: left;
}
.col-md-5{
  text-align: left;
}
a.custom-card,
a.custom-card:hover {
  color: inherit;
} 
body {
  margin: 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}


#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 10;
}

#navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#navbar a.active {
  background-color: #4CAF50;
  color: white;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.bg-image {
  /* The image used */
  background-image: url("Our 2.png");
  
  /* Add the blur effect */
 
  /* Full height */
  height: 150%; 
  width: auto;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
}
.bg-image1 {
  /* The image used */
  background-image: url("images/about3.png");
 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
  width: 100%;
  max-height: 100%;
}
.cs
{
  font-size: 15px; font-family: Times New Roman;
  color: white;
}
.n{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color : #333333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.v1{width:88%;margin:auto;}
.col-md-4{font-size: 20px;}

</style>

<body>
<div id="navbar" >
  <ul   class = "n">
    <li><a class="navbar-brand " href="/"><img src="/images/logoc.png" width="150" height="200"   ></a></li>
   
    <li><a href="/logout" style="color: white;">Sign out</a></li>
    <%if(user.type == "Sign up as employee member"){%>
    <li><a href="/personal" style="color: white;">Personal Page</a></li>
    <%}else{%>
    <li><a href="/companyPage" style="color: white;">Company Page</a></li>
    <%}%>
    <li style="width: 500px; padding-top: 15px; padding-left: 150px;"><form class="example"  style="margin:auto;width:500px" method = "GET" action = '/jobSearchResults' >
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form></li>
      <%if(LoggedIn){%>
         <%if(user.type == "Sign up as employee member"){%>
      <li style="float: right;"><a class="nav-link " href="/personal"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/upload"><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
      <%}else{%>
       <li style="float: right;"><a class="nav-link " href="/postJob"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/companyPage"><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
       <%}%>
          <%}%>
  </ul>
</div>


<div class="row">
  <div class="col-md-9" >
    <div class="card" style="padding-left: 15px;">
      <img src="/images/d1.jpeg" alt="banner" style="height: 80px;" >
      <a href=""><img src="/<%=user.avatar%>" alt="logo" style="width: 70px; float: left; margin-top: -35px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" ></a>
      </br>
      <div class="title">
        <h4 style=" text-align: left;"><%=job.title%></h4>
        <p style=" text-align: left;"><b><%=user.username%></b> . <%=job.location%></p>
        <p style="color: grey; text-align: left;"><%=moment(job.created_time).fromNow()%></p>
      </div>
      <div class="row">
        <div class="col-md-7" >
        <p style="text-align: justify;"><%=description%></p>
          <div class="requirement">
          <p style="text-align: left;"><b >Knowledge & Experience Requirements</b></p>
          <ul background-color = "white" >
            <p><%=job.requirement%></p>
           
          </ul>
         </div>
        </div>

        <div class="col-md-5" >
          <p> <b>Seniority Level</b></p>
          <p>Entry level</p>
          </br><p><b>Industry</b></p>
          <p><%=job.major%></p>
          </br><p><b>Employment Type</b></p>
          <p><%=job.workType%></p>

        </div>
        
      </div>
    </div>
  </div>

  <div class="col-md-3" > 
  <h4>More jobs</h4>
  <%jobs.forEach(p=>{%>
    <div class="row" style="padding-bottom: 15px;">
      <a href="/job/<%=p.jobId._id%>" class="custom-card row ">
        <div class="col-md-3" style=" width:300px;">
            <div style="height:60px;">
              <img src="/<%=user.avatar%>" alt="logo" style=" float: left;" >
            </div>
        </div>
        <div class="col-md-9" style="border-bottom: 1px solid grey; ">
              <h5><%=p.jobId.title%></h5>
              <p style="font-size: 10px;"><%=p.jobId.location%></p>
              <p style="font-size: 10px; color: grey;"><%=moment(p.jobId.created_time).fromNow()%></p>
        </div>
      </a>
    </div>
  <%})%>
    
</div>


  

 

<div class=" col-md-9 "><p style="float: left; color: grey;font-size: 10px;">@ DemoCourt 2019 </p></div>

</body>
</html>


