<!DOCTYPE html>
<html lang="en">
<head>
  <title> PLayvideo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
    <link rel="stylesheet" href="/css/style3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/personalpage.css">
  <link rel="stylesheet" type="text/css" href="/css/main19.css">
  <link rel="stylesheet" type="text/css" href="/css/playvideo.css">


</head>
<style type="text/css">
ul#menu li {
  display:inline;
}
body {
  font-family: Arial, Helvetica, sans-serif;
 
  
    background-color: black;
    
}
body {
  margin: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 10;
}

#navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#navbar a.active {
  background-color: #4CAF50;
  color: white;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.bg-image {
  /* The image used */
  background-image: url("Our 2.png");
  
  /* Add the blur effect */
 
  /* Full height */
  height: 150%; 
  width: auto;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
}
.bg-image1 {
  /* The image used */
  background-image: url("images/about3.png");
 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
  width: 100%;
  max-height: 100%;
}
.cs
{
  font-size: 15px; font-family: Times New Roman;
  color: white;
}
.nv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.v1{width:88%;margin:auto;}
.col-md-4{font-size: 20px;}
</style>
<body>

<div id="navbar" >
  <ul class = "nv">
    <li><a class="navbar-brand " href="/"><img src="/images/logoc.png" width="150" height="200"   ></a></li>
		
    <%if(user.type == "Sign up as employee member"){%>
    <li><a href='/likePage' style="color: white;">Likes</a></li>
     <%}%>
		
    <li><a href="/logout" style="color: white;">Sign out</a></li>
 
		 <%if(user.type == "Sign up as employee member"){%>
      <li style="float: right;"><a class="nav-link " href="/upload"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/personal"><img src="/<%=user1.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
        <%}else{%>
           <li style="float: right;"><a class="nav-link " href="/postjob"><img src="/images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/companyPage"><img src="/<%=user1.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
        <%}%>
   
  </ul>
</div>

 
  

<div class="p-5 container-fluid bg-light">
  
  <div class=" row">
    <div class=" col-md-9" >
      <div class=" grid-container p-2"  >
          
          <div> 
     <video aligns="centerr" width = "940" height = '530' src="/<%= video.VideoUrl%>#" controls autoplay> </video>
     
        <a href="#" style="text-decoration: none; color: black;"><p><%=video.title%></h4></p></a>
        <a href="#" style="text-decoration: none; color: black;"><p><%=video.description%></p></a>
        <!-- <p style="color: grey"><%= video.visitTimes%> views </p> -->
       <ul id ="menu" style="text-decoration-line: none;">
                       <%if(isliked == false){%>
	                  <div><%= video.visitTimes%> views &nbsp;<a id = "like"><span id="likes-count-<%=video._id%>"><%=video.starNumber%></span>&nbsp;likes</a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button style="background-color: #0157A0; color: white;" class="btn2" onclick="actOnPost(event);" data-post-id="<%=video._id%>" id="like-unlike" value = "likeVideos">Like</button>&nbsp;<a href="#" data-toggle="modal" data-target="#myModal" id = "share"> <img src="/images/share1.png" alt="Submit" width="30"></a></div> 
                      
                       <%}%>
                       <%if(isliked == true){%>
                    <div ><%= video.visitTimes%> views &nbsp;<span id="likes-count-<%=video._id%>"><%=video.starNumber%></span>&nbsp;likes
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button  style="background-color: #0157A0; color: white;" class="btn2" onclick="actOnPost(event);" data-post-id="<%=video._id%>" id="like-unlike" value = "unlikeVideos">unlike</button>&nbsp;<a href="#" data-toggle="modal" data-target="#myModal" id = "share"> <img src="/images/share1.png" alt="Submit" width="30"></a></div>
                    
                     <%}%>
                     
                       </ul>
          </div>
      </div>
      
      <div> 
        <a href='/getPage/<%=user._id%>' role="button" class="btn popovers nav-link text-dark" ><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="50" height="50"  >&nbsp;&nbsp;&nbsp;<b><%= video.user.username%> </b></a>
        <div class="row">
          <div class="col-md-1" >
          </div>
          <div class="col-md-11" >
            <p>  <%=video.discription%></p>
             <div class="flash-comments">
                <div class="header">
                </div>
                <form class="pure-form" id="comment-form">
                    <div class="comment-form">
                        <div class="left-side">
                            <div class="row">
                                <textarea placeholder="Sharing your ideas with people who is wacthing this video" required id="new_comment_text" rows="20" cols = "50" name = "comment"></textarea>
                                <input id= "postId" value = "<%=video._id%>" hidden>
                                <input name= "avatar" value = "<%=user.avatar%>" hidden>
                            </div>
                        </div>
                        <div class="right-side">
                            <button 
                                type="submit" 
                                class="button-secondary pure-button">Send message</button>
                        </div>
                    </div>
                </form>
              
                 <div class="comments-list" id="comments-list">
                        <script id="comment-template" type="text/x-template">
                            <div class="user-icon">
                                <img src="/images/visitor2.jpeg" class=" rounded-circle" alt="Cinque Terre" width="50" height="50">
                            </div>
                            <div class="comment-info">
                                <div class="row">
                                    <div class="name"><%= video.user.userId.username%></div>
                                    
                                </div>
                                <div class="row">
                                    <div class="text">{{comment}}</div>
                                </div>
                            </div>
                        </script>
                </div>
            </div>
        </section>
       
        <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-3" > <h4>More from <%= video.user.username%></h4> 
      <%if (urlArray.length>0) {%>
        <%urlArray.forEach(url=> {%>
        <%if(url.productId.VideoUrl !== video.VideoUrl){%>
      <div>
       <a href = "/getSingleVideo/<%= url.productId._id%>"> <video align="center" width="220" height="145" src="/<%= url.productId.VideoUrl%>#t=8" >
                    </video></a>
                    <a href = "/getSingleVideo/<%= url.productId._id%>" style="text-decoration: none; color: black;"><p><%= url.productId.title%></p></a>
                    <p style="color: grey"><%= url.productId.visitTimes%> views </p>
      </div>
      <%}%>
     <%})%>
<%}%>
      
    </div>
  </div>
  


  
  <div class=" col-md-9 "><p style="float: left; color: grey;font-size: 10px;">@ DemoCourt 2019 </p></div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" style="text-align: center;">Share a link</h4>
        </div>
        <div class="modal-body">
         <ul style="margin: auto;">
         	<a href="https://www.facebook.com/sharer.php?title=填上你的标题&u=https://www.democourt.com//getSingleVideo/<%=video._id%>"  target="_blank"><img src="/images/face.png" width="40"></a>
         	<!-- <a href="https://twitter.com/intent/tweet?text=Hello%20world"><img src="/images/insta.jpeg" width="40"></a> -->
         	<a href="https://twitter.com/intent/tweet?text= " target="_blank" id= "twitter"><img src="/images/twit.png" width="40"></a>
         </ul>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal">Cancel &nbsp;&nbsp;&nbsp;</a>
        </div>
      </div>
      
    </div>
  </div>
  
<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
const value = "https://twitter.com/intent/tweet?text=";
const currentUrl = value+ window.location.href
console.log(value);  
function modifyText(text) {
  var t2 = document.getElementById("twitter");
  t2.href = text; 
console.log(t2.action);  
}
 
// 为table对象添加事件监听器
var el = document.getElementById("share");
el.addEventListener("click", function(){modifyText(currentUrl)}, false);

$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});   
});
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  var updatePostStats = {
    Like: function (postId) {
      document.querySelector('#likes-count-' + postId).textContent++;
    },
    unlike: function(postId) {
      document.querySelector('#likes-count-' + postId).textContent--;
    }
  };
  var toggleButtonText = {
    Like: function(button) {
      button.textContent = "unlike";
    },
    unlike: function(button) {
      button.textContent = "Like";
    }
  };
  var actOnPost = function (event) {
    var postId = event.target.dataset.postId;
    var action = event.target.textContent.trim();
    console.log(action);
    toggleButtonText[action](event.target);
    updatePostStats[action](postId);
   
   var url = document.getElementById('like-unlike').value;
    axios.post('/'+url+'/' + postId, { action: action });
    
   
  };
</script>
   <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>
  var pusher = new Pusher('0a886161c701a186dced', {
    cluster: 'ap4'
         
  });
  var socketId;
 
  // retrieve the socket ID on successful connection
  pusher.connection.bind('connected', function() {
    socketId = pusher.connection.socket_id;
  });
  var channel = pusher.subscribe('post-events');
  channel.bind('postAction', function(data) {
    // log message data to console - for debugging purposes
    console.log(data);
    var action = data.action;
    updatePostStats[action](data.postId);
  });
</script>
   
</body>

</html>
